<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en">
    <head>
        <title>Matchbook Calculator</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
        <link rel="shortcut icon" href="/favicon.ico" />
        
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4"></div>
                <div class="col-xs-6 col-md-4">
                    <form class="form-horizontal" action="/">
                        <h4 class="form-signin-heading">Enter your bet details</h4>
                        <div class="form-group">
                            <input type="number" name="stake" class="form-control" placeholder="Stake" value="<%= @stake %>" step="any" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="back" class="form-control" placeholder="Back Odds" value="<%= @back %>" step="any" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="lay" class="form-control" placeholder="Lay Odds" value="<%= @lay %>" step="any" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" data-target="#results" type="submit">Calculate</button>
                    </form>
                </div>
                <div class="col-xs-6 col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <h4 class="text-center">Underlay</h4>
                            <label for="layStake" class="control-label col-xs-4">Lay Stake</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="underlay" class="form-control" placeholder="<%= @underlaystake %>" disabled>
                                </div>
                            </div>
                            <br>
                            <br>
                            <label for="underlosswin" class="control-label col-xs-4">Loss if win</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="underlosswin" class="form-control" placeholder="<%= @underlaywin %>" disabled>
                                </div>
                            </div>    
                            <br>
                            <br>
                            <label for="underlosslose" class="control-label col-xs-4">Loss if lose</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="underlosslose" class="form-control" placeholder="<%= @underlayloss %>" disabled>
                                </div>
                            </div> 
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <h4 class="text-center">Standard</h4>
                            <label for="layStake" class="control-label col-xs-4">Lay Stake</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="lay" class="form-control" placeholder="<%= @laystake %>" disabled>
                                </div>
                            </div>
                            <br>
                            <br>
                            <label for="loss" class="control-label col-xs-4">Loss if win</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="loss" class="form-control" placeholder="<%= @loss %>" disabled>
                                </div>
                            </div>   
                            <br>
                            <br>
                            <label for="losslose" class="control-label col-xs-4">Loss if lose</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="losslose" class="form-control" placeholder="<%= @lay_loss %>" disabled>
                                </div>
                            </div> 
                            <br>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <h4 class="text-center">Overlay</h4>
                            <label for="overlayStake" class="control-label col-xs-4">Lay Stake</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="overlay" class="form-control" placeholder="<%= @overlaystake %>" disabled>
                                </div>
                            </div>
                            <br>
                            <br>
                            <label for="overloss" class="control-label col-xs-4">Loss if win</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="overloss" class="form-control" placeholder="<%= @overlaywin %>" disabled>
                                </div>
                            </div>    
                            <br>
                            <br>
                            <label for="overlosslose" class="control-label col-xs-4">Loss if lose</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="number" name="overlosslose" class="form-control" placeholder="<%= @overlayloss %>" disabled>
                                </div>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
